/* Fonts */

/* MAIN STYLES */
.root {
  background-color: #edebeb;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

header {
  opacity: 0.8;
  overflow: hidden;
  padding: 20px 20px;
  background-color: #fc036f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font-family: staatliches;
  font-size: 4em;
  color: white;
  position: center;
}

img.header-logo {
  background-color: #fc036f;
  display: block;
  margin: 0 auto;
  max-width: 10%;
  margin-right: 45%;
}

.header-nav {
  width: 100%;
  background-color: #555;
  opacity: 0.8;
  overflow: auto;
}

.header-nav a {
  float: left;
  padding-bottom: 12px;
  color: white;
  text-decoration: none;
  font-family: montserrat;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 17px;
  width: 32%;
  text-align: center;
}

.header-nav a:hover {
  background-color: #fc036f;
}

.header-nav a:visited {
  color: white;
}

button.reset {
  font-family: montserrat;
  font-size: 15px;
  border-style: double;
  border-color: black;
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
  margin-bottom: 195px;
}

button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #edebeb;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: montserrat;
  font-weight: bold;
  letter-spacing: 3px;
  color: black;
  text-align: center;
  transition: all 0.15s;
}

button:hover {
  color: black;
  border-color: #dddddd;
}

.footer {
  background-color: #555;
  padding: 40px;
}

.footer p {
  color: white;
  font-family: montserrat;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

/*Search form styles*/

form {
  padding: 3%;
  text-align: center;
}

.search-header {
  font-family: staatliches;
  font-size: 30px;
}

.search {
  border-color: black;
  font-family: montserrat;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 9.5px;
}

button.search-button {
  display: inline-block;
  text-align: center;
  border-color: black;
  padding: 10px;
}

ul {
  list-style: none;
}

/* Location Card Styles */

.lo-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.location-card {
  align-items: center;
  text-align: center;
  font-family: staatliches;
  letter-spacing: 3px;
  background-color: #faf5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  padding: 30px;
  margin: 20px;
}

.location-name {
  font-size: 30px;
}

.metro-area {
  font-size: 20px;
}

/* Upcoming Events Styles */
.results-container {
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
}

.event-card {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-family: staatliches;
  letter-spacing: 2px;
  background-color: #faf5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 500px;
  height: 600px;
  padding: 30px;
  margin: 20px;
}

.location-button {
  font-family: montserrat;
}

.sk-link {
  position: relative;
  top: 40px;
  margin-right: 5%;
}

div.results-details {
  text-align: center;
  margin-left: 27%;
  margin-right: 30%;
}

.artist-list {
  margin-left: 17%;
  margin-right: 30%;
}

/* About Styles */

.about-header {
  text-align: center;
  font-size: 50px;
  font-family: staatliches;
  margin-bottom: 5px;
  margin-top: 20px;
}

.about p {
  background-color: #faf5f5;
  font-family: montserrat;
  text-transform: uppercase;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 3px;
  width: 500px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 35%;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
}

/* Contact Styles */

.contact-header {
  font-size: 50px;
  font-family: staatliches;
  letter-spacing: 3px;
  text-align: center;
}

.contact h3 {
  font-family: staatliches;
  font-size: 30px;
}

.contact h4 {
  font-family: montserrat;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.contact-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 50px;
}

.phone {
  background-color: #faf5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 250px;
  padding: 40px;
  text-align: center;
  margin-right: 20px;
}

.address {
  background-color: #faf5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 295px;
  padding: 20px;
  text-align: center;
}

/* Venue */

.venue {
  display: flex;
  align-items: center;
}

/* Media Queries*/

@media only screen and (max-width: 600px) {
  .about p {
    font-size: 10px;
    width: 200px;
    position: center;
    transform: translate(-25%, 0);
  }

  .contact {
    font-size: 10px;
  }

  .contact h3 {
    font-size: 12px;
  }

  .header-nav a {
    float: left;
    width: 100%;
  }

  .event-card {
    display: flex;
    align-content: center;
    font-size: 10px;
    height: 350px;
    width: 250px;
    margin-left: 70px;
  }

  .view-button {
    font-size: 8px;
  }
}
